{% extends 'blog/base.html' %}
{% load static %}

{% block container %}
 <div class="col-sm-8">
    <h2 class="text-center">Total Blog List</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad architecto deserunt dolorem exercitationem facilis fuga id non odio tempore, voluptas. Autem, est ex id pariatur qui velit! Atque corporis dolore ducimus eum harum incidunt iusto nemo nulla quaerat tempora, voluptate voluptatum? Accusamus, aperiam dicta enim expedita hic ipsum nulla repellat.</p>
 </div>

 <div class="col-sm-4">
    <h2 class="text-center">Recent Post</h2>
    <h6>Post One</h6>
    <h6>Post Two</h6>
    <h6>Post Three</h6>
    <h6>Post Four</h6>
 </div>
{% endblock %}