{% extends 'blog/base.html' %}
{% load static %}

{% block container %}


 <div class="col-sm-8 my-4">
 <a class="mb-2 btn btn-success" href="{% url 'create' %}">Add New Post</a>
    {% if post_list %}
        <form action="" method="post">
        {% csrf_token %}
            {% for post in post_list %}
                <h2>{{ post.title }}</h2>
                <p>{{ post.description | truncatewords:20 }} <a class="btn-sm btn btn-warning" href="{% url 'post' post.id %}">Read More</a></p>
            {% endfor %}

        </form>
        {% else %}
        <h2 class="text-center text-warning my-4">Not Available Post</h2>
    {% endif %}
 </div>

 <div class="col-sm-4 my-4">
    <h2 class="text-center">Recent Post</h2>
     <hr>

    {% if post_list %}
        <form action="" method="post">
        {% csrf_token %}
            {% for post in post_list %}
                <h5 class="text-center"><a class="text-white" href="{% url 'post' post.id %}">{{ post.title }}</a></h5>
            {% endfor %}

        </form>
        {% else %}
        <h2 class="text-center text-warning my-4">Not Available Post</h2>
    {% endif %}

 </div>
{% endblock %}